h1{
    font-weight: normal;
    font-size: 20px;
}
td,textarea{
    width: 200px;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 20px;
}
textarea{
    height: 40px;
}
.form{
    border: 1px solid;
    width: 380px;
    padding: 20px 0 20px 10px;
    height: 400px;
}
label{
    display: inline-block;
    width: 110px;
    padding-bottom: 20px;
    font-weight: bold;
}
label[for="text7"] {
    position: relative;
    top: -50px;
}
.container {
    width: 200px;
}
.button1 input {
    margin-right: 60px;
    background-color: chocolate;
    width: 60px;
    border-radius: 4px;
    float: left;
}
.re{
    background-color: aqua;
    width: 60px;
    border-radius: 4px;
    float: right;
}